<div class="container-fluid page">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-header">Notifications</h1>
        <br/><br/>
        <label>Client Type:</label>
        <input size="70" type="text" ng-model="clientType">
        <br/><br/>
        <label>Title:</label>
        <input size="70" type="text" ng-model="title"></input>
        <br/><br/>
        <label>Content:</label>
        <input size="70" type="text" ng-model="content"></input>
        <br/><br/>
        <label>Notification No:</label>
        <input size="70" type="text" ng-model="notificationNo">
        <br/><br/>
        <label>Thumbnail Url:</label>
        <input size="70" type="text" ng-model="thumbnailUrl"></input>
        <br/><br/>
        <label>Type:</label>
        <input size="70" type="text" ng-model="type"></input>
        <br/><br/>
        <label>Action Data:</label>
        <input size="70" type="text" ng-model="actionData"></input>
        <br/><br/>
        <center><a class="btn btn-primary mbBtn" ng-click="send()">Send</a></center><br/><br/>
    </div>
</div>
