<div class="modal-header">
  <h4 class="modal-title">Add/Edit Course
  <a class="btn btn-default pull-right" ng-click="cancel()">Close</a></h4>
</div>
<div class="modal-body">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a data-target="#tab1" data-toggle="tab">Add Course</a></li>
            <li><a data-target="#tab2" data-toggle="tab">Map to Exams</a></li>
            <li><a data-target="#tab3" data-toggle="tab">Map to Benefits</a></li>
            <li><a data-target="#tab4" data-toggle="tab">Map to Assets</a></li>
            <li><a data-target="#tab5" data-toggle="tab">Map to Tests</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
            	<br/><br/>
        		<label>Course ID:</label>
        	    <input style="cursor: not-allowed;" size="40" type="text" value="{{id}}" readonly="true">
                <br/><br/>
                <label>Course Title<span class="mandatory">*</span>:</label>
				<input size="40" type="text" ng-model="courseInfojson.title"></input>
				<br/><br/>
				<label>Price<span class="mandatory">*</span>:</label>
				<input size="40" type="text" ng-model="courseInfojson.price"></input>
				<br/><br/>
				<label>Discounted Price: </label>
				<input size="40" type="text" ng-model="courseInfojson.discountedPrice"></input>
				<br/><br/>
				<label>Language: </label>
				<input size="40" type="text" ng-model="courseInfojson.language"></input>
				<br/><br/>
				<label>Course Group: </label>
				<input size="40" type="text" ng-model="courseInfojson.groupName"></input>&nbsp;<a class="btn btn-primary btn-sm" ng-click="updateGroup()">Update</a>
				<br/><br/>
                <span><a class="btn btn-primary marginB leftmodal" ng-click="ok()">Save</a></span>
            </div>
            <div class="tab-pane" id="tab2">  
				<br/><br/> 
				<div class="container-fluid">
				<label style="width:50px;">Exam<span class="mandatory">*</span>: </label>
				<input size="40" type="text" id="search-tags" ng-change="complete()" ng-model="examTitle" autocomplete="off"/>&nbsp;&nbsp;
                <label style="width:145px;">Exam group name<span class="mandatory">*</span>: </label>
                <input size="30" type="text" ng-model="examGname"></input>&nbsp;
                <a class="btn btn-primary btn-sm" ng-click="map()">Add</a><br/><br/><br/>
                <div class="table-responsive">
				  <table class="table table-bordered">
				    <thead>
				      <tr>
				        <th>ID</th>
				        <th>Exam ID</th>
				        <th>Title</th>
				        <th>Group Name</th>
				        <th>Course On Sale</th>
				        <th>Display Name</th>
				        <th>Edit</th>
				        <th>Delete</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="exam in examCourses">
				        <td>{{exam.id}}</td>
				        <td>{{exam.exams.id}}</td>
				        <td>{{exam.exams.title}}</td>
				        <td ng-if="editVal==0">{{exam.groupName}}</td>
                        <td ng-if="editVal==1"><input type="text" ng-model="exam.groupName" style="width: 100%"></input></td>
                        <td ng-if="editVal==0">{{exam.courseOnSale}}</td>
                        <td ng-if="editVal==1">
                           <input type="checkbox" ng-model="exam.courseOnSale" value="{{exam.courseOnSale}}">
                        </td>
                        <td ng-if="editVal==0">{{exam.displayName}}</td>
                        <td ng-if="editVal==1"><input type="text" ng-model="exam.displayName" style="width: 100%"></input></td>
                        <td ng-if="editVal==0"><a class="tooltips" ng-click="edit()"><span>Edit</span><i class="fa fa-pencil-square-o"></i></a></td>
                        <td ng-if="editVal==1"><a class="tooltips" ng-click="save(exam)"><span>Save</span><i class="fa fa-floppy-o"></i></a></td>
				        <td><a class="tooltips" ng-click="delmap(exam)"><span>Remove this mapping</span><i class="fa fa-remove"></i></a>
                        </td>
				      </tr>
				    </tbody>
				  </table>
				</div>
				</div>
            </div>
            <div class="tab-pane" id="tab3">  
				<br/><br/> 
				<div class="container-fluid">
					<label style="width:70px;">Benefit<span class="mandatory">*</span>: </label>
					<select ng-model="courseBen.Id">
						<option ng-repeat="ben in benefits" value="{{ben.id}}">{{ben.title}}</option>
					</select>&nbsp;
	                <a class="btn btn-primary btn-sm" ng-click="mapBenefit()">Add</a><br/><br/><br/>
	                <div ng-if="showAddBen==1">
	                	<label style="width:100px;">Credit Type:</label>
					    <input style="cursor: not-allowed;" size="40" type="text" value="{{courseBen.creditType}}" readonly="true"><br/>
					    <label style="width:100px;">Credits:</label>
						<input size="40" type="text" ng-model="courseBen.credits"></input><br/>
						<label style="width:100px;">Price:</label>
						<input size="40" type="text" ng-model="courseBen.price"></input>
						<a class="btn btn-primary btn-sm" ng-click="mapBen()">Map</a><br/><br/>
	                </div>
	                <div class="table-responsive">
					  <table class="table table-bordered">
					    <thead>
					      <tr>
					        <th>ID</th>
					        <th>Title</th>
					        <th>Credit Type</th>
					        <th>Credits</th>
					        <th>Price</th>
					        <th>Edit</th>
					        <th>Delete</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="benefit in courseBenefits track by $index">
					        <td>{{benefit.benefitId}}</td>
					        <td>{{benefit.benefits.title}}</td>
					        <td>{{benefit.creditType}}</td>
					        <td ng-if="editValue==0">{{benefit.credits}}</td>
		                    <td ng-if="editValue==1"><input type="text" ng-model="benefit.credits" style="width: 100%"></input></td>
		                    <td ng-if="editValue==0">{{benefit.price}}</td>
		                    <td ng-if="editValue==1"><input type="text" ng-model="benefit.price" style="width: 100%"></input></td>
		                    <td ng-if="editValue==0"><a class="tooltips" ng-click="editBenefit()"><span>Edit</span><i class="fa fa-pencil-square-o"></i></a></td>
		                    <td ng-if="editValue==1"><a class="tooltips" ng-click="saveBenefit(benefit)"><span>Save</span><i class="fa fa-floppy-o"></i></a></td>
		                    <td>
                            <a class="tooltips" ng-click="delBenefit(benefit)"><span>Remove this mapping</span><i class="fa fa-remove"></i></a>
                        	</td>
					      </tr>
					    </tbody>
					  </table>
					</div>
				</div>
            </div>
            <div class="tab-pane" id="tab4">  
				<br/><br/> 
				<div class="container-fluid">
				    <label class="customWidth">Map By Topic:</label><br/>
            		<select style="width: 362px; margin-bottom:20px;" ng-model="topicId">
            			<option ng-repeat="topic in topics" value="{{topic.id}}">{{topic.name}}</option>
            		</select>
                 	<a class="btn btn-primary" ng-click="mapAssetTopic()">Get List</a><br/>
                 	<div ng-show="mapTopicFlag==1">
                 	<select name="assetTopicList" multiple style="height:200px;width: 300px; color:#100F0F" ng-model="assetsSelected">
	                      <option ng-repeat="assetT in assetTopicList" value="{{assetT.id}}">{{assetT.title}}</option>
	                </select>
	                <a class="btn btn-primary" ng-click="mapAsset()">Save</a>
	                <br/><br/>
	                </div>
	                <a ng-show="mapTopicFlag==1" class="btn btn-primary mbBtn" ng-click="viewList()">View Without Topic List</a>
                 	<br/><br/>
                 	<label ng-show="mapTopicFlag==0" class="customWidth">Map Without Topic:</label><br/>
                 	<select ng-show="mapTopicFlag==0" name="assetsList" multiple style="height:200px;width: 300px; color:#100F0F" ng-model="assetsSelected">
	                      <option ng-repeat="asset in assetsList" value="{{asset.id}}">{{asset.title}}</option>
	                </select>
	                <a ng-show="mapTopicFlag==0" class="btn btn-primary" ng-click="mapAsset()">Save</a>
                 	<br/><br/>
            	</div>
            </div>
            <div class="tab-pane" id="tab5">  
				<br/><br/> 
				<div class="container-fluid">
				<label style="width:100px;">Test Spec<span class="mandatory">*</span>: </label>
				<input size="40" type="text" id="search-testspec" ng-change="completeTS()" ng-model="testTitle" autocomplete="off"/>&nbsp;
				<label style="width:80px;">Credits<span class="mandatory">*</span>: </label>
				<input size="40" type="text" ng-model="credits"/>&nbsp;
                <a class="btn btn-primary btn-sm" ng-click="mapTest()">Add</a><br/><br/><br/>
                <div class="table-responsive">
				  <table class="table table-bordered">
				    <thead>
				      <tr>
				        <th>ID</th>
				        <th>Test ID</th>
				        <th>Title</th>
				        <th>Credits</th>
				        <th>Edit</th>
				        <th>Delete</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="test in courseTestRes">
				        <td>{{test.id}}</td>
				        <td>{{test.testSpecificationId}}</td>
				        <td>{{test.tests.title}}</td>
				        <td ng-if="editTS==0">{{test.credits}}</td>
		                <td ng-if="editTS==1"><input type="text" ng-model="test.credits" style="width: 100%"></input></td>
		                <td ng-if="editTS==0"><a class="tooltips" ng-click="editTestSpec()"><span>Edit</span><i class="fa fa-pencil-square-o"></i></a></td>
		                <td ng-if="editTS==1"><a class="tooltips" ng-click="saveTestSpec(test)"><span>Save</span><i class="fa fa-floppy-o"></i></a></td>
				        <td><a class="tooltips" ng-click="delmapTest(test)"><span>Remove this mapping</span><i class="fa fa-remove"></i></a>
                        </td>
				      </tr>
				    </tbody>
				  </table>
				</div>
				</div>
            </div>


        </div><!--tab content-->
    </div><!--tabbable-->
</div>


 