<div class="container-fluid page">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-header">Test Specifications <a class="btn btn-default mbYellow" data-toggle="modal" ng-click="open(0)"><i class="fa fa-plus"></i></a></h1>
        <br/>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 marginB">
          <div class="panel panel-default">
            <div class="panel-heading panelMB">
                    Test Specifications List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive" ng-controller="TestSpecsListController">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Test Specifications Title</th>
                                <th>Display Name</th>
                                <th>Edit</th>
                                <!--th>Delete</th-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="testSpec in results track by $index">
                                <td>{{testSpec.id}}</td>
                                <td>{{testSpec.title}}</td> 
                                <td>{{testSpec.displayName}}</td>
                                <td >
                                    <a class="btn btn-primary mbBtn btn-sm tooltips" data-toggle="modal" ng-click="open(testSpec)"><span>Edit Test Specification Details</span>
                                    <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                </td>
                                <!--td>
                                    <a class="btn btn-danger btn-sm tooltips" data-toggle="modal" ng-click="delete(testSpec)"><span>Delete Test Specification</span>
                                    <i class="fa fa-remove"></i>
                                    </a>
                                </td-->
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.panel-body -->
        </div><!--Panel End-->
       </div>
    </div>
</div>
